<div class="container">
  <h1 class="deep_pink"> The anagram checker</h1>
  <h4 class="deep_pink"> Supporting breast cancer awareness</h4>
  <form action="/answer" method="POST">
    <em class="deep_pink">Get your anagrams checked</em>
    <input type="text" name="word"/>
    <input type="submit"/>
     <img src="nathan.png">
  </form>
  <% if @anagrams %>
    <%= erb :_answers%>
  <% end %>

</div>
